/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 20px;
}

/*Navbar*/

#navbar {
  background-color: white;
  display: block;
}

#navbar ul {
  float: right;
  list-style: none;
  padding: 5px 10px;
}

#navbar ul li {
  float: left;
  padding: 20px;
}

#navbar ul li a {
  text-decoration: none;
  color: rgb(45, 45, 45);
  display: block;
  text-align: left;
  font-size: 1.6em;
  line-height: 1.6em;
  font-weight: lighter;
}

#navbar ul li a:hover {
  text-decoration: line-through;
  text-decoration-thickness: 24px;
  text-decoration-color: rgba(94, 4, 63, 0.838);
  color: rgb(255, 255, 255);
}

/* main section*/

#moto h1 {
  color: black;
  font-size: 13em;
  line-height: 1em;
  text-align: right;
  padding: 100px 0;
}

.img-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
}

/*.img-item {
  width: 33%;
}

.img-item img {
  max-width: 100%;
  height: auto;
}*/

.text-moto {
  color: rgb(94, 4, 63);
}

/* footer */
.footer {
  text-align: center;
  background-color: rgba(94, 4, 63, 0.852);
  color: #fff;
  padding: 30px;
}
